{{ with .Site.Params.author }}
<section class="sidebar">
  <header>AUTHOR</header>
  <div class="author">

    <a href="{{ .about | relURL }}" style="text-decoration: none; color: inherit;">
    <div class="author-thumb" style="background-image: url({{ .thumbnail | absURL }});"></div>
    </a>

    <a href="{{ .about | relURL }}" style="text-decoration: none; color: inherit;">
    <div class="author-name">{{ .name }}</div>
    </a>
    <ul class="author-facts">
      {{ with .linkedin }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .github }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .soundcloud }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-soundcloud" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .twitter }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>{{ end }}
    </ul>
    <div class="author-description">{{ .description | safeHTML }}</div>
  </div>
</section>
{{ end }}
